img {
    width: 400px;
}

/* all text 5% bigger on hover */
body *:hover {
    font-size: 105%;
    transition: font-size 0.1s;
}

body {
    text-align: center;
    font-family: "Lato", sans-serif;
    background: rgb(222, 255, 255);
    color: purple;
    background-color: hsla(351, 99%, 63%, 1);
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 1799 1799' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E"), radial-gradient(circle at 7% 84%, hsla(183, 100%, 67%, 1) 1%, transparent 85%), radial-gradient(circle at 32% 53%, hsla(292, 84%, 73%, 1) 20%, transparent 61%), radial-gradient(circle at 100% 58%, hsla(118, 99%, 73%, 1) 7%, transparent 70%), radial-gradient(circle at 66% 57%, hsla(30, 78%, 57%, 1) 5%, transparent 64%), radial-gradient(circle at 89% 58%, hsla(20, 99%, 65%, 1) 4%, transparent 70%), radial-gradient(circle at 27% 44%, hsla(173, 74%, 66%, 1) 10%, transparent 81%), radial-gradient(circle at 28% 16%, hsla(236, 84%, 78%, 1) 15%, transparent 74%), radial-gradient(circle at 68% 23%, hsla(269, 91%, 75%, 1) 15%, transparent 58%), radial-gradient(circle at 93% 14%, hsla(282, 89%, 79%, 1) 12%, transparent 88%), radial-gradient(circle at 76% 65%, hsla(29, 79%, 95%, 1) 5%, transparent 87%);
    background-blend-mode: overlay, normal, normal, normal, normal, normal, normal, normal, normal, normal, normal;
}